:root{
    --BackgroundColor: #192E32;
    --Black: #000;
    --White: #fff;
    --BooksStat: #192426;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
}
a{
    text-decoration: none;
    color: var(--sideNavsColor);
}
.sideNavbar{
    background-color: var(--sideBarBackgroundColor);
    width: 20%;
    height: 100vh;
    padding: 2.5rem 2rem;
    font-family: "Poppins", sans-serif;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}
.top_nav{
    display: flex;
    flex-direction: column;
    color: var(--sideNavsColor);
    gap: 6rem;     
}
.top_nav .brand{
    color: var(--textColor);
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 14px;
}
.brand img{
    width: 40px;
}
.side_nav_link{
    display: flex;
    align-items: center;
    gap: 0.6rem;  
    padding: 0.5rem;
    padding-left: 1.5rem; 
    font-size: 16px;
    color: var(--sideNavsColor);
}
.side_nav_link:hover {       
    border-radius: 7px;
    background-color: var(--btn-hover-yellow);
    color: var(--Black);
}

.side_nav_link .icon{
    font-size: 25px;
    color: var(--sideBarIcons);
}
.side_nav_link:hover .icon{
    font-size: 25px;
    color: var(--icon-hover-color);
}
ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0px;
}
ul li{
    list-style: none;    
}
.down_navbar{
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 0.6rem;  
    padding: 0.5rem;
    padding-left: 1.5rem; 
}
.down_navbar .icon{
    font-size: 25px;
    color: var(--sideBarIcons);
}
.down_navbar:hover{
    border-radius: 7px;
    background-color: var(--btn-hover-yellow);
    color: var(--Black);
    cursor: pointer;
}
.down_navbar:hover .icon{
    font-size: 25px;
    color: var(--icon-hover-color); 
}
