:root{
    --BackgroundColor: #192E32;
    --textColor: #FFFFFF;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
}

.sideNavbar{
    background-color: var(--sideBarBackgroundColor);
    width: 20%;
    height: 100vh;
    padding: 3rem 1rem;
    font-family: "Poppins", sans-serif;    
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.top-nav{
    display: flex;
    flex-direction: column;
    gap: 3rem;    
}
.top-nav .brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 18px;
}
.side-nav-link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
}
.side-nav-link:hover{
    background-color: var(--btn-hover-yellow);
}
.side-nav-link .icon{
    color: var(--sideBarIcons);
}
ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0px;
}
ul li{
    list-style: none;    
}