:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --HeroBgColor: #27373A;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
}
.login_page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}
.login_left{
    padding: 2rem 1rem 2rem 8rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.login_left .login_brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.login_left form{
    position: absolute;
    top: 10rem;
    width: 35%;
}

.login_form_title{
    font-size: 40px;
    font-weight: 800;
}
form p{
    font-size: 14px;
}
.social_btn{
    display: flex;
    gap: 1rem;
    margin: 1rem 0rem;
}
.google_btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    width: 50%;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    color: var(--textColor);
    border: 1px solid var(--sideNavsColor);
    background-color: transparent;
}
.twitter_btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    width: 50%;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    color: var(--textColor);
    border: 1px solid var(--sideNavsColor);
    background-color: transparent;
}
.or{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.or hr{
    width: 50%;
    border: 0.5px solid var(--sideNavsColor);
    height: 0vh;
}
.email_box{
    background-color: transparent;
    width: 100%;
    padding: 0.6rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--sideNavsColor);
}
.user_detail_field{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.email_box input{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    width: 100%;  
    color: var(--textColor);  
    padding: 1rem;
}
.email_box.icon{
    font-size: 30px;
    cursor: pointer;
}
input:focus{
    outline: none;
}
::placeholder{
    font-size: 14px;
    color: var(--sideNavsColor);
}

.pwd_details{
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-between;
}
.left_detail{
    color: var(--textColor);
}
.right_detail{
    color: var(--btn-hover-yellow);
}
.login_button{
    width: 100%;
    background-color: var(--btn-hover-yellow);
    color: var(--BooksStat);
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.dont_have_account{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
}

.login_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    gap: 2rem;
    background-color: var(--sideBarBackgroundColor);
}
.login_right .title{
    font-size: 20px;
    color: var(--textColor);
}
.login_right p{
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--btn-hover-yellow);
}
.page_circ{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.circ{
    width: 8px;
    padding: 0.2rem;
    min-height: 1vh;
    border-radius: 50%;
    border: 1px solid var(--sideNavsColor);
}
.circ.active{
    background-color: var(--textColor);
}