

:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
    --btn-border:#FFF9EF;
    --successText:#B2C7CC;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.back{
    display: flex;
    align-items: center;
    margin-top:50px;
    margin-left: 50px;
    color: var(--btn-border);
    background-color: transparent;
    border: 1px solid var(--sideBarIcons);
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    gap:10px;
}

.back_btn{
    width: 24px;
    height:24px;
    color:var(--sideBarIcons)
}

.back:hover{
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.left{
    margin-left: 50px;
}

.select_container{
    position: relative;
    display: inline-block;
   
}

.select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--btn-hover-yellow);
    border-radius: 8px;
    margin-left:20px;
    padding: 10px 25px 10px 15px;
    gap: 10px;
}

.dropdown{
    color: var(--BackgroundColor);
    position: absolute;
    top: 50%;
    right: 5px; 
    transform: translateY(-50%);
    pointer-events: none; 
    font-size: 20px; 
}

.select option{
    font-family: "Inter", sans-serif;
    background-color: var(--BooksStat);
    color: var(--textColor);
    border-radius: 8px;
}

.select:hover{
    cursor: pointer;
}

.select:focus{
    outline: none;
}

.downloads{
    display: flex;
    margin-top:50px;
}

.book_one{
    display: flex;
    margin-left: 50px;
}

.book_img img{
    width: 122px;
    height: 138px;
}

.book_two{
    display: flex;
    margin-left:50px;
}

.book_info{
    font-family: "Inter", sans-serif;
    margin-left:30px;
}

.book_title{
    font-size: 1rem;
    font-weight: 600;
}

.book_author{
    font-size: 0.8rem;
    font-weight: 500px;
    
}

.success{
    font-weight: 500;
    color:var(--successText);
    margin-top:50px;
}











