:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
    
}

.about_title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}
.about_us{
    display: flex;    
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 4rem;
}
.about_us p{
    margin: 1rem 0rem;
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: lighter;
    color: var(--sideNavsColor);
}
.about_us .left {
    width: 50%;
}
.about_us .right{
    width: 50%;
}
.about_us .right img{
    width: 100%;
}

/* mission */
.mission{    
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.mission p{
    margin: 1rem 0rem;
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: lighter;
    color: var(--sideNavsColor);
}
.mission .left{
    width: 50%;
}
.mission .left img{
    width: 100%;
}
.mission .right{
    width: 50%;
}


