:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --HeroBgColor: #27373A;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
    --about-bg-color: #213336;
    --studyPotential-bg: #653F00;
}

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.home, section{
    border: 0px;
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    font-family: "Inter", sans-serif;
    background-color: var(--BackgroundColor);
    position: fixed;
    z-index: 1;
    width: 100%;
}

header .homeNavbar_l{
    width: 40%;
}
.homeNavbar_l .home_brand{
    display: flex;
    gap: 1rem;
    font-size: 20px;
    align-items: center;
}
.home_brand img{
    cursor: pointer;
}
header .homeNavbar_r{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeNavbar_r .navs{
    width: 70%;
    padding: 0.5rem;
    font-size: 20px;
    display: flex;
    gap: 2rem;
}

.homeNavbar_r .buttons{
    display: flex;
    justify-content: end;
    gap: 1rem;
    width: 25%;
}
.homeNavbar_r a{
    color: var(--textColor);
}
.homeNavbar_r a:hover{
    color: var(--sideNavsColor);
}
.buttons a{
    width: 50%;
    cursor: pointer;
}
.signup_btn{
    background-color: var(--btn-hover-yellow);
    padding: 0.4rem 0.2rem;
    border: 1px solid var(--btn-hover-yellow);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
.signup_btn:hover{
    color: var(--textColor);
    background-color: var(--icon-hover-color);
    cursor: pointer;
}

.login_btn{
    background-color: transparent;
    padding: 0.4rem 0.2rem;
    border: 1px solid var(--sideNavsColor);
    color: var(--textColor);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
.login_btn:hover{
    color: var(--BackgroundColor);
    background-color: var(--textColor);
    cursor: pointer;
}

/* Start Hero Section */
.hero_section{
    width: 100%;
    background-color: var(--HeroBgColor);
    display: flex;
    align-items: center;
    padding: 7rem 4rem 0rem;
    font-family: "Inter", sans-serif;
}

.hero_left{
    width: 50%;
}

.hero_left .title{  
    width: 100%;  
    font-size: 55px;
    margin-bottom: 1rem;
}
.hero_left p{
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 1.5rem;   
}
.hero_right{
    width: 50%;
}
.hero_right img{
    width: 100%;
}
.getStarted_btn{
    background-color: var(--btn-hover-yellow);
    padding: 0.6rem 0rem;
    border: 1px solid var(--btn-hover-yellow);
    border-radius: 5px;
    width: 25%;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1rem;
}
.getStarted_btn:hover{
    color: var(--textColor);
    background-color: var(--icon-hover-color);
}
/* End Hero SEction */


section{
    padding: 6rem 4rem 0rem;
}
section p{
    text-align: center;
}
.access_freeBooks{
    padding-top: 2rem;
}
.access_freeBooks > p{
    font-size: 20px;
}
.free_access{ 
    margin-top: 2rem; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
.free_features{
    width: 90%;
    margin: 1rem;
    padding: 1rem 2rem 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--HeroBgColor);
}
.free_features img{
    display: flex;
    margin: 1rem auto;
    width: 100px;
}
.free_features h3{    
    color: var(--textColor);
    font-size: 25px;
    margin-bottom: 1rem;
}
.free_features p{
    color: var(--sideNavsColor);
}
.study_potentials{
    background-image: url('Group7777.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    position: relative;
}
.study_potentials .left{
    display: none;
    width: 100%;
}

.study_potentials_text{
    width: 40%;
    height: 40vh;
    position: absolute;
    right: 3rem;
    bottom: 12rem;
}
.study_potentials_text h1{
    font-size: 30px;
    margin-bottom: 1rem;
}
ul li{
    list-style: circle;
    margin-left: 1rem;
}
.study_potentials_text button{
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--btn-hover-yellow);
    background-color: var(--btn-hover-yellow);    
}
.study_potentials_text button:hover{
    background-color: var(--icon-hover-color);
    color: var(--textColor);
}
.aboutus{
    padding: 8rem 4rem 4rem;
    background-color: var(--about-bg-color);
}


/* START MEDIA QUERRY */
@media only screen and (max-width:667px){
    header{
        padding: 1rem;
        width: 100%;
    } 
    header .homeNavbar_l{
        width: 100%;
    }    
    .home_brand img{
        width: 100px;
    }

    header .homeNavbar_r .navs{
        display: none;
    }  
    
        
    .homeNavbar_r .buttons{
        font-size: 8px;
        padding: 0.2rem 0rem;
        width: 90%;
        margin-left: 1rem;
        gap: 0.5rem;
    }
    .hero_right{
        width: 100%;
    }
    .signup_btn{
        padding: 0.2rem;
        font-size: 12px;
        width: 100%;
    }
    .login_btn{
        padding: 0.2rem;
        font-size: 12px;
        width: 100%;
    }





    .hero_section{
        width: 100%;
        padding: 7rem 0rem 0.5rem;
        flex-direction: column;
    }   
    .hero_left{
        width: 90%;
    }
    .hero_left .title{  
        width: 100%;  
        font-size: 35px;
    }
    .hero_left p{
        color: var(--sideNavsColor);
    }
    .getStarted_btn{
        padding: 0.6rem 0rem;
        width: 40%;        
    }
    
    .hero_right img{
        margin-top: 1rem;
        width: 100%;
    }

    .free_access{ 
        grid-template-columns: 1fr; 
    }
    section{
        padding: 2rem 1rem;
    }    
    .access_freeBooks > p{
        font-size: 20px;
    }
    .study_potentials{
        width: 100%;
        background-image: none;
        background-color: var(--studyPotential-bg);
        min-height: 100vh;
    }
    .study_potentials .left{
        display: block;
        width: 100%;
    }
    .study_potentials_text h1{
        font-size: 20px;
    }
    .study_potentials .left img{
        width: 100%;
    }
    .study_potentials_text{
        width: 100%;
        padding: 1rem 1rem;
        padding-left: 6rem;
        align-items: center;
        position: absolute;
        top: 20rem;
        flex-direction: column;
        
    }  
    .aboutus{
        padding: 4rem 1rem 0rem;
        background-color: var(--about-bg-color);
    }  
}

/* END MEDIA QUERRY */