:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --HeroBgColor: #27373A;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
    --input-outline-color:#97AAAD;
    --error-message-color:#ff0000;
}

.reset_password{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.reset_password .pass_left{
    padding: 3rem 4rem;
    width: 50%;
    background-color: transparent;
}
.reset_password .pass_right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sideBarBackgroundColor);
    width: 50%;
}
.reset_password .pass_right img{
    width: 450px;
}

.reset_password .pass_left .title{
    margin-top: 6rem;
    color: var(--btn-hover-yellow);
    font-size: 30px;
}
.reset_password .pass_left form{
    margin-top: 2rem;
}
.pass_input{
    width: 100%;
    background-color: transparent;
    border: 0px solid;
    margin-bottom: 2rem;
    color: var(--sideNavsColor);
    font-size: 20px;
    border-bottom: 1px solid var(--sideBarIcons);
}
.pass_left form button{
    width: 100%;
    font-size: 18px;
    padding: 0.7rem;
    background-color: var(--btn-hover-yellow);
}
.pass_footer{
    color: var(--btn-hover-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30%;
}
.corgs{
    display: flex;
    margin:1rem auto;
    gap: 1rem;
    
}
.pass_footer .circle{
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    border: 1px solid var(--textColor);
}

.pass_footer .active{
    background-color: var(--textColor);
}