:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --HeroBgColor: #27373A;
    --textColor: #e9e6e6;
    --White: #fff;
    --Black: #000;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
    --about-bg-color: #213336;
}

.modal_background{
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0rem;
    right: 0rem;
    left: 0rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_container{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--about-bg-color);
    padding: 20px;
    color: var(--sideNavsColor);
    position: relative;
    overflow-y: scroll;
}
.modal_container > button{
    position: absolute;
    right: 2rem;
    top: 1rem;
    padding: 0rem 0.2rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--BooksStat);    
    background-color: transparent;
    color: var(--sideNavsColor);
}
.modal_main{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.modal_detail{
    width: 60%;
    line-height: 1rem;
}
.modal_detail > .title{
    font-size: 14px;
    color: var(--textColor);
}
.modal_detail > p{
    font-size: 10px;
    margin-top: 0.5rem;
}
.modal_detail > button{
    font-size: 10px;
    border: 1px solid var(--HeroBgColor);
    padding: 0.2rem 0.5rem;
    width: 60px;
    border-radius: 10px;
    color: var(--sideNavsColor);
    margin-top: 0.8rem;
    background-color: var(--about-bg-color);
}
.features{
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
    gap: 0.5rem;
}
.feature{
    display: flex;
    flex-direction: column;
    font-size: 11px;   
}
.feature > div{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 0.2rem;
    color: var(--White);
}
.features_btns{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.features_btns button{
    padding: 0.3rem 0.5rem;
    display: flex;
    font-size: 10px;
    font-weight: 600;
    gap: 0.2rem;
    color: var(--btn-hover-yellow);
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.features_btns button:first-child{
    background-color: var(--btn-hover-yellow);
    color: var(--Black);
    border-radius: 5px;
}
.features_btns .listen{
    border: 1px solid var(--btn-hover-yellow);
    border-radius: 5px;
}



.tab_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 0rem;
    gap: 2rem;      
    margin-top: 1rem;  
  } 
  .tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;
    cursor: pointer; 
  }
  .active_tabs {
    border-bottom: 1px solid var(--btn-hover-yellow);
    color: var(--White);
  }
    
  .content {
      display: none;
      margin-top: 1rem;
      min-height: 30vh;
  }
  
  .active_content {
    display: block;
    font-size: 12px;
    line-height: 1.3rem;
  }
  .review_card{
    margin-bottom: rem;
    margin-top: 0.5rem;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    background-color: var(--sideBarBackgroundColor);    
  }  
  .review_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviewer{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .review_body{
    margin-top: 1rem;
  }