:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --HeroBgColor: #27373A;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
}

.feedback{
    width: 100%;
    text-align: center;
}
.feedback .title{    
    font-size: 30px;
    font-weight: 600;
}
.feedback p{
    color: var(--sideNavsColor);
}
