:root{
    --FooterBg: #0E100E;
    --FooterTxt: #9F9F9F;
}

.footer{
    background-color: var(--FooterBg);
    color: var(--FooterTxt);
    padding: 4rem;
}

.foot_socials{
    display: flex;
    gap: 1rem;
    margin: 1rem 2rem;
}
.foot_socials img{
    width: 25px;
}
.footer .top{
    display: flex;
    justify-content: space-between;    
}
.footer .top .right p{
    font-size: 18px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.footer .down{
    display: flex;
    justify-content: center;
    /* padding: 2rem 0rem 0rem; */
}