:root{
  --BackgroundColor: #192E32;
  --textColor: #FFFFFF;
  --sideBarBackgroundColor:#243F46;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--BackgroundColor);
  color: var(--textColor);
}

main{
  width: 100%;
  padding: 2rem 4rem;
  padding-left: 20rem;
}

.bookworm-main{
  display: flex;
}
